#board {
    padding-top: 3em;
    text-align: center;
}

.row>div {
    float: left;
    height: 100px;
    width: 100px;
    
}

.row {
    margin: 0 auto;
    width: 302px;
}

.top {
    border-bottom: 1px black solid;
    background: lightblue;
}

.bottom {
    border-top: 1px black solid;
    background: lightcoral;
}

.left {
    border-right: 1px black solid;
    background: lightgreen;
}

.right {
    border-left: 1px black solid;
    background: lightseagreen;
}

.center.middle {
    background: rgb(245, 245, 165);
}

.row:hover {
    cursor: pointer;
}

.new-game {
    margin: 5em;
    padding: 1em;
}

.cell {
    font-size: 5.5em;

}

h6 {
    margin-bottom: 4px;
    font-weight: lighter;
}

h1 {
    text-decoration: underline;
    margin-bottom: 1em;
    color: darkslateblue;
}